<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<head>
        <style>
            body {
                background-color: #1f1f1f;
                color: #ffffff
            }
    
            .jumbotron {
                background-color: #1f1f1f;
                color: #ffffff
            }
        </style>
    </head>

<body class="container">
    <header>
            <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>about</h1>
            <h2>not much to know</h2>
            <p>I just kinda do my own thing</p>
            <p>i have a <a href="https://github.com/ZackArtz">github.</a></p>
        </div>
    </main>
    <footer>
            <% include ../partials/footer %>
    </footer>
</body>


</html>