<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<header>
    <% include ../partials/header %>
</header>
<style>
    body {
        background-color: #2a2a2a;
        color: #ffffff
    }

    .jumbotron {
        background-color: #2a2a2a;
        color: #ffffff
    }
</style>
<main>
    <div class="jumbotron">
        <h1>tutorial</h1>
        <h2>for learning.. ya know.. stuff</h2>
        <p>yeah thats about it</p>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</html>